.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.kisi-container {
  display: flex;
  margin: .5rem 1rem;
  padding: .5rem;
  align-items: center;
}

.kisi-container:hover {
  background: #f1f1f1;
}

.kisi-container .avatar {
  margin-right: 1rem;
  padding: .5rem 0;
  font-size: 1rem;
  width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  background: var(--bs-blue);
}

.eklebtn {
  width: 35%;
  margin-bottom: .5rem;
  align-self: center;
  border: none;
  background: none;
  color: var(--bs-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eklebtn:hover,
.eklebtn:active,
.eklebtn:focus {
  background: none;
  color: var(--bs-blue);
}