.navbar {
  background: #e2e2e2;
  position: fixed;
  max-width: 100%;
  width: 100%;
  bottom: 0;

  a {
    display: flex;
    flex-direction: column;
    color: black;
  }

  i {
    width: 1.2rem;
    aspect-ratio: 1/1;
    align-self: center;
    margin-bottom: 0.5rem;
  }
}
