 .fab {
   aspect-ratio: 1/1;
   position: fixed;
   bottom: 15%;
   right: 5%;
   z-index: 1000;
 }

 .offheader {
   margin: 0;
   padding-top: 1rem;
   padding-bottom: 0;
 }

 .offinput {
   margin: 0 .75rem;
   font-size: 1.75rem;
 }

 .pads {
   display: flex;
   flex-direction: column;
 }

 .col {
   padding: 0 .3rem;
 }

 .pad-btn,
 .pad-call-btn {
   width: 100%;
   margin-bottom: 1rem;
   font-size: 1.5rem;
 }

 .pad-call-btn {
   width: 50%;
   display: flex;
   align-self: center;
   align-items: center;
   justify-content: space-evenly;
 }

 .call {
   z-index: 1300;
 }