@import '../../../variables';

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.eklebtn {
  width: 35%;
  margin-bottom: 0.5rem;
  align-self: center;
  border: none;
  background: none;
  color: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;

  &:hover,
  &:active,
  &:focus {
    background: none;
    color: $blue;
    border: none;
    box-shadow: none;
  }
}