@import '../../variables';

// other vars
$border: none;

// kisi button
.kisi {
  width: 100%;
  border: $border;

  &:hover {
    border: $border;
  }
}

/* kisi kartı */
.kisi-container {
  display: flex;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  align-items: center;

  &:hover {
    background: #f1f1f1;
  }
}

/* offcanvas styling */
.header {
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

/* back button */
.back {
  text-align: left;
  width: 5%;
  padding: 0;
  margin-left: 0.5rem;
  border: $border;

  &:hover {
    border: $border;
  }
}

/* offcanvas body */
.kisi-container-col {
  margin: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.options {
  border-radius: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;

  div {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  button {
    width: 50%;
    margin: auto 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

// iletişim kartı
.info-card {
  margin: 1rem;
  border: $border;
  padding: 1rem 0.5rem;
  max-width: 100%;
  background: #f0e8e8;

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      border: $border;
      color: currentColor;
      margin-right: 1rem;

      &:hover,
      &:focus {
        border: $border;
        background: none;
        box-shadow: none;
      }
    }
  }

  /* info card buttons */
  .message {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &:hover,
  &:focus {
    border: $border;
  }
}

.delete {
  display: flex;
  justify-content: center;

  button {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
  }
}