@import '../../variables';

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  background: $blue;

  span {
    color: #fff;
  }
}