@import '../../variables';

.off-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;

  form {
    svg {
      margin-right: .5rem;
    }
  }

  button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .delete {
    width: 30%;
    display: flex;
  }
}