@charset "UTF-8";
.kisi {
  width: 100%;
  border: none;
}
.kisi:hover {
  border: none;
}

/* kisi kartı */
.kisi-container {
  display: flex;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  align-items: center;
}
.kisi-container:hover {
  background: #f1f1f1;
}

/* offcanvas styling */
.header {
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

/* offcanvas body */
.kisi-container-col {
  margin: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.options {
  border-radius: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}
.options div {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.options button {
  width: 50%;
  margin: auto 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-card {
  margin: 1rem;
  border: none;
  padding: 1rem 0.5rem;
  max-width: 100%;
  background: #f0e8e8;
}
.info-card .info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-card .info button {
  border: none;
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: currentColor;
  margin-right: 1rem;
}
.info-card .info button:hover, .info-card .info button:focus {
  border: none;
  background: none;
  box-shadow: none;
}

.delete {
  display: flex;
  justify-content: center;
}
.delete button {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
}