@charset "UTF-8";
.kisi {
  width: 100%;
  border: none;
}
.kisi:hover {
  border: none;
}

/* kisi kartı */
.kisi-container {
  display: flex;
  margin: 0.5rem 1rem;
  padding: 0.5rem;
  align-items: center;
  z-index: 1500;
}
.kisi-container:hover {
  background: #f1f1f1;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  font-size: 1rem;
  width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  background: #0d6efd;
}

/* offcanvas styling */
.header {
  display: flex;
  width: 100%;
  padding: 0.5rem;
}

/* back button */
.back {
  text-align: left;
  width: 5%;
  padding: 0;
  margin-left: 0.5rem;
  border: none;
}
.back:hover {
  border: none;
}

.settings svg {
  width: 20px;
  aspect-ratio: 1/1;
  margin-right: 1rem;
}

/* offcanvas body */
.kisi-container-col {
  margin: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3.5rem;
}
.kisi-container-col .avatar {
  font-size: 2rem;
  width: 15%;
  aspect-ratio: 1/1;
}

.options {
  border-radius: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}
.options div {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.options button {
  width: 50%;
  margin: auto 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.info-card {
  margin: 1rem;
  border: none;
  padding: 1rem 0.5rem;
  max-width: 100%;
  background: #f0e8e8;
  /* info card buttons */
}
.info-card .info {
  display: flex;
  justify-content: space-around;
}
.info-card .info svg {
  margin-right: 1rem;
}
.info-card .call,
.info-card .message {
  border: none;
}
.info-card .call:hover, .info-card .call:focus,
.info-card .message:hover,
.info-card .message:focus {
  border: none;
}
.info-card .message {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.info-card .call:hover,
.info-card .call:focus,
.info-card .message:hover,
.info-card .message:focus {
  border: none;
}