.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.settings button {
  border: none;
}
.settings button:hover {
  border: none;
}
.settings button:nth-child(2):active {
  fill: #0d6efd;
}
.settings svg {
  width: 20px;
  aspect-ratio: 1/1;
}