// settings panel
@import "../../variables";

$border: none;

.settings {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    border: $border;

    &:hover {
      border: $border;
    }

    &:nth-child(2):active {
      fill: $blue;
    }
  }

  i {
    font-size: 20px;
  }
}
