.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 7rem auto;

  i {
    font-size: 32px;
    fill: blue;
  }

  p {
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
